body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #333;
    font-weight: 400;
  }
  
  #content {
    margin: 5px;
    padding: 20px;
    width: 805px;
    border: 1px solid #ccc;
  }
  
  #map {
    margin: 10px 0px 0px 0px;
    padding: 0px;
  }
  
  h1, h2 {
    line-height: 1em;
    font-size: 1.75em;
    font-weight: 900;
    color: #000;
  }
  
  h2.currentday {
    margin: 10px 0px 0px 0px;
    font-size: 1.3em;
    font-weight: 700;
  }
  
  p {
    margin: 10px 0px 0px 0px;
  }
  
  .county {
    fill: #fff;
    stroke: transparent
  }
  
  counties:active {
    opacity:0.6;
    }
  
  .county:active {
    opacity:0.6 !important;
  }
  
  .states {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
  }
  
  input {
    display: block;
    width: 350px;
    margin: 10px 0px 0px 0px;
  }
  
  
  .slider:hover {
    opacity: 1; 
  }
  
  .slider {
      width: 100%
  }
  
  
  .tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.8em;
    pointer-events: none;
    background: #dbfffb;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .tooltip p {
    margin: 0;
    padding: 0;
  }
  
  .tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  
  .background {
    fill: none;
    pointer-events: all;
  }